@import "tailwindcss";

/* Tailwind tokens */
@theme {
  --color-primary: var(--c-primary);
  --color-primary-600: var(--c-primary-600);

  --color-bg: var(--c-bg);
  --color-surface: var(--c-surface);
  --color-surface-2: var(--c-surface-2);
  --color-text: var(--c-text);
  --color-text-muted: var(--c-text-muted);
  --color-border: var(--c-border);

  --radius-sm: 10px;
  --radius-md: 16px;
  --radius-lg: 20px;

  --shadow-soft: 0 10px 30px rgb(0 0 0 / 0.08);
  --shadow-elev: 0px 6px 10px 4px rgb(0 0 0 / 0.1),
    0px 2px 3px rgb(0 0 0 / 0.16);
}

/* Light mode defaults (Figma) */
:root,
html.light {
  --ff: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --fs-base: 16px;

  --c-primary: #a3b094;
  --c-primary-600: #5b7553;

  --c-bg: #ffffff;
  --c-surface: #f6f6f4;
  --c-surface-2: #ffffff;
  --c-text: #1f1f1f;
  --c-text-muted: #A3B094;
  --c-border: #dedede;

  --c-hero-start: #5b7553;
  --c-hero-end: #d6c4b0;

  --c-cta-btn: #2e5f6e;

  /* NAV tokens must be here */
  --c-nav-bg: #ffffff;
  --c-nav-border: #e6e6e0;
  --c-nav-active: #a3b094;
  --c-nav-muted: #1f1f1f;

  color-scheme: light;
}

/* Manual Dark toggle (html.dark) */
html.light {
  --c-bg: #0b0f0c;
  --c-surface: #101612;
  --c-surface-2: #0f140f;
  --c-text: #e9efe9;
  --c-text-muted: #b4beb4;
  --c-border: rgb(255 255 255 / 0.12);

  --c-hero-start: #2d3b2a;
  --c-hero-end: #3a332c;

  --c-cta-btn: #2e5f6e;

  /* Dark nav tokens (optional) */
  --c-nav-bg: #0b0f0c;
  --c-nav-border: rgb(255 255 255 / 0.12);
  --c-nav-active: #a3b094;
  --c-nav-muted: #e9efe9;

  color-scheme: dark;
}

/* System dark preference (only if user hasn't set .dark or .light) */
@media (prefers-color-scheme: dark) {
  html:not(.dark):not(.light) {
    --c-bg: #0b0f0c;
    --c-surface: #101612;
    --c-surface-2: #0f140f;
    --c-text: #e9efe9;
    --c-text-muted: #b4beb4;
    --c-text-black:#606060
    --c-border: rgb(255 255 255 / 0.12);

    --c-hero-start: #2d3b2a;
    --c-hero-end: #3a332c;

    --c-nav-bg: #0b0f0c;
    --c-nav-border: rgb(255 255 255 / 0.12);
    --c-nav-active: #a3b094;
    --c-nav-muted: #e9efe9;

    color-scheme: dark;
  }
}

/* Figma hero gradient utility */
.hero-gradient {
  background: linear-gradient(180deg, var(--c-hero-start) 0%, var(--c-hero-end) 100%);
}
